
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   list-style: none;
   text-decoration: none;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}


body{
  background-color: #f297ba;
}

.logo{
  font-size:  30px;
  font-weight: 700;
  color: #fff;
}

.navlist {
  display: flex;
}

.navlist a {
  color: #745b5d;
  margin-left: 30px; 
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}


.navlist a:hover {
  border-bottom: 2px solid #745b5d;
}

#menu-icon{  
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #f297ba;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

section {
  padding: 0 19%;
}

.hero-text h1{
 font-family: "Acme";
 font-size: 90px;
 line-height: 1;
 color: #745b5d;
 margin: 0 0 45px;
}
 
.hero-text h4{
  font-size: 18px;
  font-weight: 600;
  color: #603c4a;
  margin-bottom: 10px;
}

.hero-text p{
  color: #603c4a;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.hero-img img{
  width: 700px;
  height: auto;
}

.hero-text a{
  display: inline-block;
  color: white;
  background: #603c4a;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55 ease;
}

.hero-text a:hover{
  background: transparent;
  border: 1px solid white;
  transform: transLateY(8px);

}

.icons{
  position: absolute;
  left: 10%;
  top: 50%;
  padding: 0;
  transform: transLateY(-50%);
}

.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: #603c4a;
  transition: all .50s ease;
}

.icons i:hover{
  color: #fff;
  transform: transLateY(-5px);
}


#body setting for all page#
body{
  background-color: #C6AF9A;
  height: 100px;
  justify: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  background: #C6AF9A;
  font-family: Segoe UI Variable Display Semib;
  font-size: 12pt;
}



.footer {
  background: #DBC3AE;
  text-align: center;
}

.socialIcons {
  display: flex;
  justify-content: center;
 }

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  color: black;
  background-color: #FDB0C0;
  margin: 10px;
  border: var; 
  border-radius: 50%; 
}

.footer .socialIcons a:hover {
  background-color: rgb(128, 128, 128);
}

.footer  .footer-links {
  display: flex;
  justify-content: center;
  flex-warp: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer  .footer-links a{
  text-decoration: none;
  padding: 10px;
  color: black;
  background-color: #FDB0C0;
  margin: 10px;
  border: var; 

}

.footer  .footer-links a:hover{
  background-color: rgb(128, 128, 128);
}


.footer .credit{
  font-size: 20px;
  color: #black;
  font-weight: lighter;
  padding: 1.5rem;
}


  background-color: #FFF4EF;
  color: black;
  text-align: center;
  padding: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.topnav {
  background-color: #F6DEC8;
  overflow: hidden;
}

.topnav a:hover {
  float: left;
  display: block;
  color: #F6DEC8;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
   border-bottom: 3px solid #F6DEC8;
}

.topnav a.active {
  border-bottom: 3px solid #F6DEC8;
}



h1, h2, h3{
  margin: 0;
  padding: 0;
}

p, ol, ul{
  margin-top: 0;
}

p{
  line-height: 180%;
}

ol, ul{
  padding: 0;
  list-style: none;
}

.container{
  margin: 0px auto;
  width: 1200px;
  
}

header{
  overflow: hidden;
}

#top-header{
  text-align: center;
  height: 70px;
}


#menu{
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#menu ul {
  text-align: center;
  margin: 0;
  background: #FFF4EF;
  padding: 0;
  list-style-type: none;
}

#menu li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#menu li a, #menu li span{ 
  display: inline-block;
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 60px;
  color: #000000;

}


#menu li: hover a, #menu li span {
  background: #F6DEC8;
  color: #FFF4EF;
  border-left: 1px solid #FFF4EF;
  text-decoration: none;
}


.header {
  border-radius: 25px;
  height: 60px;
  width: 1252px;
  margin: 2rem auto;
  text-align: center;
  font-size: 20px;
  color: #333;
  background: #F6DEC8;
}
  
.content {
  overflow: hidden;
  text-align: center;
}

.img {
  display: inline-block;
}
	

p.subtitle { 
  margin-left: 20px;
  font-family: Serif; 
  font-size: 22px;
  display: inline-block;
  text-align: left;
}

* {box-sizing: border-box}

.container {
  position:  relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: #F6DEC8;
  background: rgba (0,0,0,0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: black;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}



.container:hover .overlay {
  opacity: 1;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  grid-gap: 30px;
}


.column {
  flex: 33.33%;
  padding: 5px;
}

.zoom {
  overflow: hidden;
  position: relative;
}

.zoom img {
  transition: transform 0.3 ease;
}

.zoom:hover img {
  transform: scale(1.1);
}

* {box-sizing:  border-box}

.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



*,
*:after
*:before {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 10px;
}

body.prevent-background-scroll {
  main-height: 100dvh;
  overflow: hidden;
}

.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 30px;
    min-height: 100vh;
    width: 100%;
    padding: 80px 100px;
}

.intro-content {
    padding-right: 100px;
}

.intro-content h1 {
    color: #9F665B;
    font-family: "Gloria Hallelujah", cursive;
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: 1.4;
    animation: fade-in-out 12s linear infinite;
}

@keyframes fade-in-out {
  0% {
       color: #fff
       filter: hue-ratate(0deg);
       text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  }

  30%
  70% {
       color: #fff;
       filter: hue-ratate(360deg);
       text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  }
  
 100% {
       color: transparent;
       box-shadow: none;
       filter: hue-ratate(0deg);
  }
}


.intro-content p {
    font-family: inherit;
    font-size: clamp(1rem, 4vw, 1.1rem);
    color: #9F665B;
    font-weight: 700;
    line-height: 1.6;
    margin: 30px 0 50px;
    text-align: justify;
}

.card-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    background: linear-gradient(#fff2, transparent);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg)) translateY(calc(var(--y) * 1px)) translateX(calc(var(--x) * -1px));
    transition: all 0.8s linear;
}

.card img,
.item img {
    width: 90%;
    height: 90%;
}

.item img {
    object-fit: cover;
}

.card-container:hover .card {
    margin: 0 10px;
    transform: rotate(0deg) translateY(0) translateX(0);
}

// music playlist//

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-container .music-player {
  background: #ffe0e5;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
} 

.music-player p {
  font-size: 14px;
  color: #333;
}

.progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #f53192;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #f53192;
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;S
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #f53192;
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #f53192;
  color: #fff;
}


.img-gallery {
  width: 80%;
  margin: 100px auto 50px;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}

.img-gallery img{
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.img-gallery img:hover{
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
  
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img {
  width: 90%;
  max-width: 500px;
}

.full-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.swiper-container {
  width: 100%
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
}

.box-container{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}


.box-container .box {
  position: relative;
  max-width: 300px;
  height: 220px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.box-container .box:hover {
  height: 430px;
}

.box-container .box .images {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.box-container .box .images img{
  max-width: 100%;
  border-radius: 5px;
}


.box-container .box .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.box-container .box:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}


figure {
  width: 332px;
  height: 403px;
  position: relative;
  background-color: #eaeaea;
  padding: 19px 19px 85px 19px;
}

figure img {
  width: 100%;
}

figcaption {
  font-family: 'Bradley Hand ITC', cursive;
  font-size: 25px;
  text-align: center;
  color: #2c2c2c;
  margin-top: 22px;
}

figure:before,
figure:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 180px;
  background-color: rgba(102, 102, 102, 0.6);
  transform: rotate(-40deg);
}

figure:before {
  top: 3px;
  left: -55px;
}

figure:after {
  bottom: 3px;
  right: -60px;
}



.vid-container {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}

.vid-container h1 {
  padding: 60px 0;
  color: #fff;
  font-size: 44px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.feature-img {
  width: 100%;
  margin: 20px 0;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.feature-img img {
  width: 100%;
  height: auto;
}

.small-img-row {
  display: flex;
  align-items: center;
  background: #efefef;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
}

.small-img {
  width: 30%;
}

.small-img img {
  width: 100%;
  height: auto;
}

.small-img-row p {
  width: 70%;
  padding: 0 10px;
  color: #333;
  text-align: left;
  margin: 0;
}

.vid-container {
  position: relative;
}

.feature-img {
  position: relative;
  display: inline-block; 
}

.play-btn {
  width: 20%; 
  max-width: 60px; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-btn.small {
  width: 20%; 
  max-width: 35px; 
}

.small-img-row {
  display: flex;
  align-items: center;
  background: #efefef;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
}

.small-img {
  width: 30%;
  position: relative; 
}

.small-img img {
  width: 100%;
  height: auto;
}

.small-img-row p {
  width: 70%;
  padding: 0 10px;
  color: #333;
  text-align: left;
  margin: 0;
}

.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}

.video: focus{
  outline: none;
}

.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

.row-img {
  display: flex;
  grid-gap: 30px;
}
